################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/bin
/backend/obj
/backend/.vs/RealEstateApi/FileContentIndex/2592ebba-301d-4255-8959-3d48e26c6d53.vsidx
