################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/backend/bin
/backend/obj
/backend/.vs/RealEstateApi/FileContentIndex/2592ebba-301d-4255-8959-3d48e26c6d53.vsidx
/.vs/real-estate-portal/FileContentIndex/061c6bad-0ee8-4cfa-a54b-d85089b0c0b3.vsidx
/.vs/real-estate-portal/FileContentIndex/6991799c-538c-4420-8a2e-e033f3647736.vsidx
/backend/.vs/RealEstateApi/v17/HierarchyCache.v1.txt
/backend/.vs/ProjectEvaluation/realestateapi.projects.v7.bin
/backend/.vs/ProjectEvaluation/realestateapi.metadata.v7.bin
/backend/.vs/RealEstateApi/DesignTimeBuild/.dtbcache.v2
/backend/.vs/RealEstateApi/FileContentIndex/b8a56994-6fca-450b-9627-c663b8eeff61.vsidx
/.vs/real-estate-portal/v17/.wsuo
/.vs/VSWorkspaceState.json
/backend/.vs/RealEstateApi/v17/.futdcache.v2
/backend/.vs/RealEstateApi/v17/.suo
/backend/.vs/RealEstateApi/v17/DocumentLayout.json
/backend/.vs/RealEstateApi/FileContentIndex/e2ea415c-98a7-4430-9941-fd80bd240f77.vsidx
/frontend/node_modules
